html, body {
	overflow-x: hidden;
	scroll-behavior: smooth;
  }
body {
    background: rgb(27, 100, 88);
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, rgb(51, 80, 95), rgb(52, 100, 50));
}
.heading{
	text-align: center;
	font-size: 2.4em;
	font-family: 'Pacifico', cursive;
}

.homebutton {
	height: 50px;
    background-color: rgb(75, 138, 59);
	color: white;
	border-radius: 10px;
  }
.homebutton:hover{
    background-color: rgb(96, 172, 86);
    color: white;
  }

h1 {
  font-size: 5rem;
  color: rgb(238, 234, 14);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  text-align: center;
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  margin-top: 2em;
  outline: none;
  border: 10px solid #404B69;
  font-size: 3.5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(240, 150, 33);
  text-shadow: 3px 0 rgb(0, 0, 0);
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
#title{
  text-align: center;
}
