html{
    overflow-x: scroll;
    scroll-behavior: smooth;
}
body{
    background-image: url("https://raw.githubusercontent.com/AditiAparna/thekushalghosh.github.io/master/maths.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: -1;
}
#topic{
    color: white;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px whitesmoke;
    margin-top: -1.4em;
    text-align: center;
    font-size: 3em;
}
#footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
    padding-top: 30px;
    padding-left: 20px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    background-image:url("https://raw.githubusercontent.com/AditiAparna/thekushalghosh.github.io/master/footer.png");
    background-size: cover;
    z-index: 1;
}

.homebutton {
    height: 50px;
    width: 150px;
    margin-left: 40px;
    margin-top: 15px;
    background-color: rgb(75, 138, 59);
	color: white;
    border-radius: 10px;
  }
.homebutton:hover{
    background-color: rgb(96, 172, 86);
    color: white;
    transform: scale(1.2);
  }
.box{
    padding-left: 10%;
    padding-right: 10%;
}
.card{
    color: black;
    font-weight: bold;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-shadow: 10px 10px 10px white;
}
.card:hover{
    transform: scale(1.3);
    transition: 0.5s;
    z-index: 2;
}
.inputs{
    margin-top: 10%;
    text-align: center;
}
.calculate{
    border-radius: 10%;
    background-image: url("https://raw.githubusercontent.com/AditiAparna/thekushalghosh.github.io/master/button.png");
    font-weight: bold;
}
.calculate:hover{
    border-radius: 10%;
    transform: scale(1.2);
    font-weight: bold;
}
.bg-pr{background-color:#CCEABB!important}

@media only screen and (max-width:830px){
	
    #topic{
        color: white;
        padding: 10px;
        font-weight: bolder;
        text-shadow: 2px 2px 2px whitesmoke;
        margin-top: -1.4em;
        text-align: right;
    }
    .homebutton {
        height: 50px;
        width: 150px;
        margin-left: 20px;
        margin-top: 15px;
        background-color: rgb(75, 138, 59);
        color: white;
        border-radius: 10px;
      }
    #topic{
        padding: 10px;
        font-size: 35px;
        padding-bottom: 10px;
	font-color: black;
    }
	
}
