html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;  
    scroll-behavior: smooth;
    position: relative;
    background-image: 
    url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/paint.jpg"),
    url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/grass.jpg"),
    url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/code.jpg"),
    url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/code.jpg");
    background-position: 
      left 0 top 0px,
      left 0 top 46em,
      left 0 top 84em,
      left 0 top 140em;
    background-repeat: no-repeat;
    background-color:
     rgba(255,255,255,0.06);
    background-blend-mode: lighten;
    background-size:
      100% 46em,
      100% 54em,
      100% 68em,
      100% 86em;
 }
 .darkmode {
  background-image: 
    url("https://ak.picdn.net/shutterstock/videos/1008749414/thumb/1.jpg"),
    url("https://sf.co.ua/13/07/wallpaper-2932481.jpg"),
    url("https://i.ytimg.com/vi/fKYeT3BIE6M/maxresdefault.jpg"),
    url("https://i.ytimg.com/vi/fKYeT3BIE6M/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-color:
     rgba(255,255,255,0.59);
     background-position: 
      left 0 top 0px,
      left 0 top 46em,
      left 0 top 84em,
      left 0 top 140em;
     background-blend-mode: lighten;
     background-size:
       100% 46em,
       100% 54em,
       100% 68em,
       100% 86em;
 }
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(224, 205, 28);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 #imagemain {
  border-radius: 50%;
  border: 50px solid rgb(44, 77, 77);
  padding: 10px;
  /* position: relative; */
  top: -50px;
  width: 35%;
  height: 15%;
      transition: all 0.4s ease;
}


#imagemain:hover {
border-radius: 50%;
border: 1px solid rgb(44, 77, 77);
padding: 10px;
/* position: relative; */
top: -50px;
width: 40%;
height: 20%;
}

  #footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    position: absolute;
    bottom: 0px;
    width:100%;
    height: 554px;      
  }

  #myBtntop {
    
    position: fixed;
    bottom: 20px;
    float: right;
    right: 4%;
    width: 2em;
    height: 2em;
    border-color: rgba(100, 100, 100, 0.68);
    background-color: rgb(100,100,100,0.95);
    border-radius: 95px;
    transition: all 0.2s ease;



}
#myBtntop:hover {
  position: fixed;
    bottom: 18px;
    float: right;
    right: 3.8%;
    background-color: rgba(161, 161, 161, 0.95);
    width: 2.4em;
    height: 2.4em;
    border-radius: 95px;

    

}

.fa fa-arrow-circle-o-up{
  color: white;
}
#resume{
  width: 7.7em;
  height: 3.5em;
  background-color: #44BCDD;
  border-radius: 10px;
}

  .topnav {
    overflow: hidden;
    background-color: rgb(34, 38, 95);
    transition: all 0.4s ease;
    
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.4s ease;

    
  }
  
  .topnav a:hover {
    background-color: rgb(60, 135, 149);
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: rgb(75, 138, 59);
    color: white;
  }
  .topnav a.active:hover{
    background-color: rgb(96, 172, 86);
    color: white;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
      transition: all 0.4s ease;

    }
    .topnav a.icon {
      float: right;
      display: block;
      transition: all 0.4s ease;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }





.cricket{
  background-color: #24c9e6;
  width: 400px;
  height: 100px;
  font-size: 24px;
  border-radius: 20px;
  font-family: 'Pacifico', cursive;
  transition: all 0.4s ease;

}

.cricket:hover{
  background-color: #65e2f8;
  width: 435px;
  height: 120px;
  font-size: 24px;
  border-radius: 20px;
  mouseover-transition: all 1s ease;
  mouseout-transition: all 1s ease;   

}



  #rectangle {
    width: 20%;
    height: 6em;
    background: green;
    float: left;
    border-radius: 10px;
  }


  .boxed {
    border: 1px solid green ;
    float: right;
    width: 77%;
    height: 6em;
    background-color: #81d4d4;
    border-radius: 10px;
  }




  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(54, 41, 41, 0.8); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }





  .modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(54, 41, 41, 0.8); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modals-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .closes {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closes:hover,
  .closes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modals-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modals-body {padding: 2px 16px;}
  
  .modals-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }


      #cf{
          width: 142px;
          height: 40px;
          transition: all 0.4s ease;

      }

      #cc{
        width: 135px;
        height: 50px;
        transition: all 0.4s ease;

    }
    #hr{
      width: 142px;
      height: 45px;
      transition: all 0.4s ease;

  }

  #he{
    width: 128px;
    height: 45px;
    transition: all 0.4s ease;

}


    .fa fa-facebook{
      top: 20%;
      left: 50%;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
      }
      
      #content-wrap {
        padding-bottom: 2.5rem;   
      }



  .text-center {
    font-size: 14px;
    text-align: center;
  }

  .comp-code{
    left: 0%;
  }
  
  
  ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 12px;
    
  }
  
  
  
  .social-network #scnw.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network #scnw.icoLinkedin:hover {
    background-color: #007bb7;
  }
  .social-network #scnw.icoInstagram:hover {
    background-color: rgb(204, 22, 159);
  }
  
  .social-network #scnw.icoGithub:hover {
    background-color: #030708;
  }
  .social-network #scnw.icoSnapchat:hover {
    background-color: rgb(217, 255, 0);
  }
  
  .social-network #scnw.icoTwitter:hover {
    background-color: #00aaff;
  }

  .social-network #scnw.icoQuora:hover {
    background-color: #d61212;
  }
  
  .social-network #scnw.icoYoutube:hover {
    background-color: #d61212;
  }
  
  .social-network #scnw.icoFacebook:hover i,
  .social-network #scnw.icoLinkedin:hover i,
  .social-network #scnw.icoInstagram:hover i,
  .social-network #scnw.icoGithub:hover i,
  .social-network #scnw.icoSnapchat:hover i,
  .social-network #scnw.icoTwitter:hover i,
  .social-network #scnw.icoQuora:hover i,
  .social-network #scnw.icoYoutube:hover i{
    color: #fff;
  }
  img#cf:hover,
  img#cc:hover,
  img#hr:hover,
  img#he:hover{
    opacity: 0.77;

  }
  
  .social-network #scnw.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
  .social-circle i {
    color: #595959;
    transition: all 0.8s ease;
    
}
  .social-network #scnw {
    background-color: #F9F9F9;
  }

  #projimg {
    margin-left: 2%;
    width: 6em;
    height: 6em;
    float: left;
  }
  #proj {
    width: 28em;
    height: 6em;
    background: rgb(10, 168, 185);
    transition: all 0.4s ease;
    border-radius: 10px;

  }




  #proj:hover{
    width: 30.5em;
    height: 7.7em;
    background: rgb(74, 172, 77);
    mouseover-transition: all 1s ease;
    mouseout-transition: all 1s ease;   

  }
  
  .headingname{
    color:rgb(255, 230, 0);
  }

  .darkmodeid2{
    color: rgb(44, 56, 95);
  }
  .introduction{
    color: rgb(116, 255, 255);
  }
  .darkmodeid4{
    color: rgb(54, 107, 95);
  }
  
  .projectname{
    color: rgb(255, 208, 0);
  }
  .darkmodeid5{
    color: rgb(30, 22, 141);
  }
  .aboutdetails{
      color: rgb(250, 244, 224);
    }
    .darkmodeid6{
      color: rgb(8, 10, 14);
    }
    .abouttitle{
      color: yellow;
    }
    .darkmodeid8{
      color: rgb(65, 55, 141);
    }



  @media screen and (min-width: 600px)
  {

    body {
      overflow-x: hidden;
      overflow-y: hidden;  
      scroll-behavior: smooth;
      position: relative;
      background-image: 
      url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/paint.jpg"),
      url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/grass.jpg"),
      url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/code.jpg"),
      url("https://raw.githubusercontent.com/thekushalghosh/thekushalghosh.github.io/master/code.jpg");
      background-position: 
        left 0 top 0px,
        left 0 top 46em,
        left 0 top 95em,
        left 0 top 177em;
      background-repeat: no-repeat;
      background-color:
       rgba(255,255,255,0.06);
      background-blend-mode: lighten;
      background-size:
        100% 46em,
        100% 49em,
        100% 108em,
        100% 177em;
   }
   .darkmode {
    background-image: 
    url("https://ak.picdn.net/shutterstock/videos/1008749414/thumb/1.jpg"),
    url("https://sf.co.ua/13/07/wallpaper-2932481.jpg"),
    url("https://i.ytimg.com/vi/fKYeT3BIE6M/maxresdefault.jpg"),
    url("https://i.ytimg.com/vi/fKYeT3BIE6M/maxresdefault.jpg");
    background-position: 
        left 0 top 0px,
        left 0 top 46em,
        left 0 top 95em,
        left 0 top 177em;
      background-repeat: no-repeat;
      background-color:
       rgba(255,255,255,0.59);
      background-blend-mode: lighten;
      background-size:
        100% 46em,
        100% 49em,
        100% 108em,
        100% 177em;
   }
    .cricket{
      background-color: #24c9e6;
      width: 600px;
      height: 150px;
      font-size: 35px;
      border-radius: 20px;
      font-family: 'Pacifico', cursive;
      transition: all 0.4s ease;
    
    }
    
    .cricket:hover{
      background-color: #65e2f8;
      width: 620px;
      height: 170px;
      font-size: 35px;
      border-radius: 20px;
      mouseover-transition: all 1s ease;
      mouseout-transition: all 1s ease;   
    
    }
    #cricket{
      width: 10em;
    }
    
    .headingname{
      margin-top: -4.1em;
      margin-left: 5em;
      color:rgb(255, 230, 0);
    }
    .darkmodeid2{
      margin-top: -4.1em;
      margin-left: 5em;
      color: rgb(44, 56, 95);
    }

    
    
    
    
    
    
    #intro{
     margin-left: 23em;
    }
    .introduction{
      color: rgb(116, 255, 255);
    }
    .darkmodeid4{
      color: rgb(46, 87, 77);
    }
    .projectname{
      color: rgb(255, 208, 0);
    }
    .darkmodeid5{
      color: rgb(30, 22, 141);
    }
    .aboutdetails{
      color: rgb(250, 244, 224);
    }
    .darkmodeid6{
      color: rgb(8, 10, 14);
    }
    .abouttitle{
      color: yellow;
    }
    .darkmodeid8{
      color: rgb(65, 55, 141);
    }
    #about{
      margin-top: 14em;
    }
       #imagemain {
         border-radius: 50%;
         border: 1px solid rgb(0, 255, 200);
         padding: 10px;
         /* position: relative; */
         top: -50px;
         margin-left: -40em;
         width: 28%;
         height: 15%;
             transition: all 0.4s ease;
     }
     
   







     #imagemain:hover {
       border-radius: 50%;
       border: 1px solid rgb(0, 255, 200);
       padding: 10px;
       /* position: relative; */
       top: -50px;
       width: 31.68%;
       height: 20%;
     }

    
    
    
    
    
    
    #project1{
      margin-top: 2em;
      margin-left: -36em;
    }
    #project2{
      margin-top: -8.2em;
      margin-left: 36em;
    }
    #project3{
      margin-top: 2em;
      margin-left: -36em;
    }
    #project4{
      margin-top: -8.2em;
      margin-left: 36em;
    }
    #project5{
      margin-top: 0em;
      margin-left: -36em;
    }
    #project6{
      margin-top: -8.2em;
      margin-left: 36em;
    }
  }
